#root h1 {
	font-family: 'Krona One', sans-serif;
	text-align: center;
	width:375px;
	margin:0 auto;
	margin-top:25px;
	color: white;
	padding: 7px;
	-webkit-text-stroke: 1px green;
}
#root h2 {
	font-family: 'Krona One', sans-serif;
}
img.profile {
    width: 100px;
}

.container {
	background: white;
	border-radius: 7px;
	margin: 7px auto;
}

p, li {
	font-family: 'Quicksand', sans-serif;	
}

.center {
    text-align: center;
    margin: 7px auto;
}