#root h1 {
	font-family: 'Krona One', sans-serif;
	text-align: center;
	width:375px;
	margin:0 auto;
	margin-top:25px;
	color: white;
	padding: 7px;
	-webkit-text-stroke: 1px green;
}

img.profile {
    width: 100px;
    position: absolute;
    right: 0;
    top: 5px;
    right: 5px;
}