* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding:2rem;
}
button {
	cursor: pointer;
	margin:2rem;
	padding:1rem 2rem;
	width:120px;
}
.app {
	text-align: center;
	padding: 2%;
}
.time {
	font-size: 2em;
    width: 238px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 100px 100px 0 0;
    border-bottom: 0;
	padding: 8px;
	font-family: 'Krona One', sans-serif;
}
.time span {
	background: transparent;
    display: inline-block;
    width: 100px;
}

.time input {
	background: transparent;
	border: 0;
	cursor: initial;
	text-align: right;
	width: 100%;
}
.time input.seconds {
	text-align: left;
}
.time p {
    text-align: left;
    padding: 0 10px;
}
.btn {
	text-transform: uppercase;
	font-family: 'Krona One', sans-serif;
}
button.button-primary {
    width: 100px;
    height: 100px;
	border-radius: 50px;
	font-size:1em;
	text-transform: uppercase;
	color:white;
}

button.button.button-primary.button-primary-active:active,button.button.button-primary.button-primary-active:focus, button.button.button-primary.button-primary-inactive:active,button.button.button-primary.button-primary-active:active, button.button.button-primary.button-primary-inactive:focus {
    outline: none;
}

.loginButton {
	position: absolute;
    right: 0;
    top: 0;
	margin: 7px;
	color:white !important;
	-webkit-text-stroke: 1px black;
}
.logoutButton {
    position: absolute;
    right: -7px;
    top: 85px;
    margin: 7px;
    background: transparent;
    font-size: 11px;
    background: transparent !important;
    color: white !important;
    border: none !important;
    font-size: 11px !important;
}
h3.given {
    position: absolute;
    right: 132px;
    top: 6px;
    color: white;
    font-size: 1em;
    padding: 7px 15px;
}